<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="val" placeholder="Значение">
    <input type="text" name="pers" placeholder="Точность">
    <input type="radio" name="units" value="degree" checked>Градусы
    <input type="radio" name="units" value="rad">Радианы
    <button type="submit" name="send">Посчитать</button>
</form>
<h2>sin: {{ans_sin}}</h2>
<h2>cos: {{ans_cos}}</h2>
<h2>tg: {{ans_tg}}</h2>
<h2>ctg: {{ans_ctg}}</h2>
</body>
</html>